/* GENERAL */
/* ------------------------- */
* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

body {
  max-width: 1440px;
  margin: auto;
}

a {
  text-decoration: none;
  color: #000;
}

.card {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 0 15px #ccc;
}

/* PAGE HEADER */
/* ------------------------- */

/* PAGE NAV */
/* ------------------------- */
.page-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  width: 100%;
}

.logo-link {
  padding: 25px 0 0 20px;
}

.menu-links {
  order: 1;
  display: flex;

  list-style-type: none;
  width: 100%;
}

.menu-links li {
  width: 50%;
}

.menu-links a {
  display: block;
  width: 100%;
  padding: 20px 0;
  border-bottom: 3px solid #f2f2f2;
  text-align: center;
}

.menu-links a:hover {
  color: #0065fc;
  border-color:#0065fc;
}

.resgistration-link {
  text-align: right;
  padding: 25px 20px 0 0;
}

.resgistration-link a {
  color: #0065fc;
  font-weight: 600;
}

.resgistration-link a:hover {
  text-decoration: underline;
}

/* SEARCHING AREA */
/* ------------------------- */
.searching-area {
  margin: 40px 20px;
}

.searching-area button:hover {
  cursor: pointer;
}

.searching-area h1 {
  font-size: 1.4em;
  margin: 0 0 15px 0;
}

.city-search-form {
  display: flex;
  align-items: center;

  margin: 30px 0;
  height: 50px;
  max-width: 420px;
  border: 1px solid #f2f2f2;
  border-radius: 60px;
}

.location-btn {
  background:  #f2f2f2;
  border: none;
  border-radius: 15px 0 0 15px;
  font-size: 1.1em;
  height: 100%;
  padding: 0 20px;
}

.city-search-input {
  padding: 0 20px;
  font-weight: bold;
  height: 100%;
  border: none;
  font-size: 1.1em;
}

.search-btn-large {
  display: none;
}

.search-btn-small {
  background: #0065fc;
  color: #fff;
  font-size: 1.1em;
  border-radius: 15px;
  height: 100%;
  padding: 0 18px;
  border: none;
}

.filters-area {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
}

.filters-area > p {
  width: 100%;
  margin: 0 0 12px 0;
  font-size: 1.1em;
}

.filter-item {
  margin: 7px 10px;
  display: flex;
  border: 2px solid #d9d9d9;
  border-left: none;
  border-radius: 60px;
  height: 45px;

  display: flex;
  align-items: center;
}

.filter-item p {
  padding: 0 15px;
}

.filter-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  background: #deebff;
  color: #0065fc;
  height: 49px;
  width: 49px;
  border-radius: 30px;
}

.infos {
  display: flex;
  align-items: flex-start;
  margin: 23px 0 0 0;
}

.info-mark {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 24px;
  width: 24px;
  font-size: 0.8em;
  color: #0065fc;
  border: 1px solid #d9d9d9;
  border-radius: 60px;
}

.infos-text {
  margin: 0 0 0 10px;
}

/* MAIN PAGE */
/* ------------------------- */
.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* MOST POPULAR AREA */
/* ------------------------- */
.most-popular-area {
  background: #f2f2f2;
  padding: 40px 20px 25px 20px;
  max-width: 340px;
}

.most-popular-area header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 20px 0;
}

.header-icon {
  font-size: 1.5em;
}

.most-popular-card {
  padding: 7px;
  margin: 0 0 10px 0;
  max-width: 326px;
}

.most-popular-card a {
  display: flex;
}

.most-popular-card img {
  width: 128px;
  height: 133px;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.most-popular-card-infos {
  margin: 15px 0 10px 20px;
  font-size: 0.8em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.most-popular-card-infos h3 {
  margin: 0 0 5px 0;
}

.card-stars {
  font-size: 0.8em;
  color: #d9d9d9;
}

.stars-filled {
  color: #0065fc;
}

/* MAIN ACCOMODATION AREA */
/* ------------------------- */
.main-accomodation-area {
  padding: 40px 20px 15px 20px;
}

.main-accomodation-area h2 {
  margin: 0 0 20px 0;
}

.main-accomodation-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-accomodation-card {
  max-width: 330px;
  padding: 7px;
  margin: 0 5px 10px 5px;
}

.main-accomodation-card img {
  width: 100%;
  height: 115px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.main-accomodation-card-infos {
  font-size: 0.8em;
  padding: 5px;
}

.main-accomodation-card-infos p {
  margin: 3px 0 6px 0;
}

.show-more-btn {
  border: none;
  background: none;
  font-weight: bold;
  font-size: 1.2em;
  margin: 25px 0;
}

.show-more-btn:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* ACTIVITIES AREA */
/* ------------------------- */
.activities-area {
  padding: 0 20px;
}

.activities-area h2 {
  margin: 0 0 20px 0;
}

.activities-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activites-card {
  margin: 0 0 25px 0;
  width: 100%;
  max-width: 335px;
}

.activites-card img {
  width: 100%;
  max-width: 335px;
  height: 94px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.activites-card h3 {
  font-size: 0.9em;
  padding: 15px;
}

/* PAGE FOOTER */
/* ------------------------- */
.page-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  background: #f2f2f2;
  margin: 25px 0 0 0;
  padding: 50px 20px 10px 20px;
}

.footer-elt {
  min-width: 250px;
}

.footer-elt ul {
  list-style-type: none;
  margin: 20px 0;
}

.footer-elt li {
  padding: 0 0 18px 0;
}

.footer-elt a:hover {
  text-decoration: underline;
  color: #0065fc;
}

/* MEDIA QUERIES */
/* ------------------------- */
/* ------------------------- */
@media screen and (min-width: 420px) {
  /* MOST POPULAR AREA */
  /* ------------------------- */
  .most-popular-area {
    border-radius: 15px;
    padding: 40px 40px 15px 40px;
  }

  .most-popular-card {
    width: 326px;
  }
}

@media screen and (min-width: 600px) {
  /* PAGE HEADER */
  /* ------------------------- */
  .page-header,
  .main-page {
    margin: 0 50px;
  }

  /* PAGE NAV */
  /* ------------------------- */
  .page-nav {
    justify-content: normal;
  }

  .logo-link {
    flex-grow: 1;
  }

  .menu-links {
    order: 0;
    max-width: 330px;
  }

  .menu-links li {
    max-width: 160px;
  }

  .menu-links a {
    padding: 50px 0;
    border-bottom: none;
    border-top: 2px solid #f2f2f2;
  }

  .logo-link,
  .resgistration-link {
    padding: 0;
  }

  /* SEARCHING AREA */
  /* ------------------------- */
  .city-search-form {
    margin: 20px 0;
  }

  .search-btn-small {
    display: none;
  }

  .search-btn-large {
    display: block;
    padding: 0 18px;
    height: 100%;
    background: #0065fc;
    border: none;
    font-size: 1.05em;
    color: #fff;
    font-weight: bold;
    border-radius: 0 15px 15px 0;
  }

  .filters-area {
    align-items: center;
  }

  .filters-area > p {
    width: auto;
    padding: 0 20px 0 0;
    margin: 0;
  }

  /* ACTIVITIES AREA */
  /* ------------------------- */
  .activities-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .activites-card {
    max-width: 300px;
    margin-right: 15px;
    margin-left: 15px;
  }
}

@media screen and (min-width: 1440px) {
  /* MAIN PAGE */
  /* ------------------------- */
  .main-page {
    margin: 0 50px;

    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  /* MAIN ACCOMODATIONS AREA */
  /* ------------------------- */
  .main-accomodation-area {
    order: -1;
    background: #f2f2f2;
    border-radius: 15px;
    margin: 0 40px 0 0;
    padding: 40px 10px 15px 40px;
    max-width: 810px;
  }

  .main-accomodation-cards {
    justify-content: center;
  }

  .main-accomodation-card {
    max-width: 226px;
    margin: 0 30px 30px 0;
  }

  /* MOST POPULAR AREA */
  /* ------------------------- */
  .most-popular-area {
    padding: 40px 40px 0 40px;
  }

  .most-popular-card {
    margin: 0 0 35px 0;
  }

  /* ACTIVITIES AREA */
  /* ------------------------- */
  .activities-area {
    margin-top: 60px;
    width: 100%;
  }

  .activities-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    max-height: 485px;
  }

  .activites-card {
    margin: 0 0 40px 0;
  }

  .activites-card img {
    height: 151px;
  }

  .full-height {
    height: 445px;
  }

  .activites-card.full-height img {
    height: 390px;
  }
}