.activities-area {
  padding: 0 20px;
}

.activities-area h2 {
  margin: 0 0 20px 0;
}

.activities-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activites-card {
  margin: 0 0 25px 0;
  width: 100%;
  max-width: 335px;
}

.activites-card img {
  width: 100%;
  max-width: 335px;
  height: 94px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.activites-card h3 {
  font-size: 0.9em;
  padding: 15px;
}