.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* MOST POPULAR AREA */
/* ------------------------- */
.most-popular-area {
  background: #f2f2f2;
  padding: 40px 20px 25px 20px;
  max-width: 340px;
}

.most-popular-area header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 20px 0;
}

.header-icon {
  font-size: 1.5em;
}

.most-popular-card {
  padding: 7px;
  margin: 0 0 10px 0;
  max-width: 326px;
}

.most-popular-card a {
  display: flex;
}

.most-popular-card img {
  width: 128px;
  height: 133px;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.most-popular-card-infos {
  margin: 15px 0 10px 20px;
  font-size: 0.8em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.most-popular-card-infos h3 {
  margin: 0 0 5px 0;
}

.card-stars {
  font-size: 0.8em;
  color: #d9d9d9;
}

.stars-filled {
  color: #0065fc;
}

/* MAIN ACCOMODATION AREA */
/* ------------------------- */
.main-accomodation-area {
  padding: 40px 20px 15px 20px;
}

.main-accomodation-area h2 {
  margin: 0 0 20px 0;
}

.main-accomodation-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-accomodation-card {
  min-width: 225px;
  width: 100%;
  max-width: 330px;
  padding: 7px;
  margin: 0 5px 10px 5px;
}

.main-accomodation-card img {
  width: 100%;
  height: 115px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.main-accomodation-card-infos {
  font-size: 0.8em;
  padding: 5px;
}

.main-accomodation-card-infos span {
  display: block;
  margin: 3px 0 6px 0;
}

.show-more-btn {
  border: none;
  background: none;
  font-weight: bold;
  font-size: 1.2em;
  margin: 25px 0;
  transition: color 0.3s;
}

.show-more-btn:hover {
  cursor: pointer;
  color: #0065fc;
}

/* ACTIVITIES AREA */
/* ------------------------- */
.activities-area {
  padding: 0 20px;
}

.activities-area h2 {
  margin: 0 0 20px 0;
}

.activities-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activites-card {
  margin: 0 0 25px 0;
  width: 100%;
  max-width: 335px;
}

.activites-card img {
  width: 100%;
  max-width: 335px;
  height: 94px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.activites-card h3 {
  font-size: 0.9em;
  padding: 15px;
}
