.page-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  width: 100%;
}

.logo-link {
  padding: 25px 0 0 20px;
}

.menu-links {
  order: 1;
  display: flex;

  list-style-type: none;
  width: 100%;
}

.menu-links li {
  width: 50%;
}

.menu-links a {
  display: block;
  width: 100%;
  padding: 20px 0;
  border-bottom: 3px solid #f2f2f2;
  text-align: center;
  transition: color 0.5s, border-color 0.5s;
}

.menu-links a:hover {
  color: #0065fc;
  border-color:#0065fc;
}

.resgistration-link {
  text-align: right;
  padding: 25px 10px 0 0;
}

.resgistration-link a {
  color: #0065fc;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 15px;
  transition: background-color 0.3s;
}

.resgistration-link a:hover {
  background-color: #f2f2f2;
}